---
import Card from "../components/Card.svelte";
import IndexLayout from "../layouts/IndexLayout.astro";
import Timer from "../components/Timer.svelte";
import IndexTitle from "../components/IndexTitle.svelte";

const blog_posts = await Astro.glob("./posts/blog/*.mdx")

let title = "🏠 Homepage"
---

<IndexLayout pagetitle={title}>
	<IndexTitle client:load/>
	<div class="max-w-[1140px] m-auto">
		<div class="p-8 pl-[175px] max-sm:pl-[20px]">
			<a href="/blog" class="hover:underline">
				<h1 class="text-4xl font-bold">Blog</h1>
				<h3 class="text-gray-400 text-xl font-light">
					Some of my personal ideas
				</h3>
			</a>
		</div>
		<div class="flex max-lg:flex-col gap-5 justify-center items-center">
			{blog_posts.map((post) => 
				<Card 
					url={post.url} 
					title={post.frontmatter.title} 
					description={post.frontmatter.description} 
					image={post.frontmatter.image} 
					tags={post.frontmatter.tags} 
					pubDate={post.frontmatter.pubDate} 
					client:load
				/>
			)}
		</div>
	</div>

	<div class="max-w-[1140px] m-auto py-20">
		<div class="p-8 pl-[175px] max-sm:pl-[20px]">
			<a href="/class-notes" class="hover:underline">
				<h1 class="text-4xl font-bold ">Class Notes</h1>
				<h3 class="text-gray-400 text-xl font-light">
					Right now i'm serving in the military, but I will start taking notes here in...
				</h3>
			</a>
		</div>
		<div class="flex max-md:flex-col gap-5 justify-center items-center">
			<Timer client:load/>
		</div>
	</div>
</IndexLayout>